<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="device" value="192.168.220.101:5555"></parameter>
  <parameter name="version" value="8.0"></parameter>
    <classes>
      <class name="com.framework.tests.TheFloowTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
